---
abstract: Employment Verification information in table form.
date: 2026-01-12
title: Employment Verification
---

```{list-table}
:header-rows: 3

* - Dates of Employment
  - Parent Employer Name /Project Company Name
    i.e., ABC Staffing / Project at XYZ Client Name
  - Location
* - (Month/Year – Month/Year)
  - (Month/Year – Month/Year)
  -
* - Oct 2024 to April 2025
  - - Platonic, Inc
    - FTE
  - Los Angeles, CA Remote
* - April 2024 to June 2024
  - - Sirius XM
    - C4 Technical Services
  - Los Angeles, CA Remote
* - Sep 2021 to Dec 2023
  - - Wunderkind
    - FTE
  - Los Angeles, CA Remote
* - May 2020 to July 2021
  - - Fox Corporation
    - Silicon Beach Solutions
  - Los Angeles, CA Remote
* - Sep 2019 to Feb 2020
  - - Infor, Incorporated
    - Taos
  - Los Angeles, CA Remote
* - Dec 2018 to Sep 2019
  - - Fox Media
    - Silicon Beach Solutions
  - Los Angeles, Metropolitan Area
```
